:root {
	--base-size: 16px; 
	--gutter-size: calc(2 * var(--base-size));
	--color--primary: black; 
	--color--secondary: gold; 
	--color--background: red;
}

header {
	padding-block: calc(5 * var(--base-size));
	text-align: center;
}
h1 {
	font-size: calc(var(--base-size)* 3);
}
h2 {
	font-size: calc(var(--base-size)* 1.7);
}
.main-content {
	padding-inline: var(--gutter-size);
}
#main-content {
	/* display: flex;
	flex-direction: row; */
	gap: 4px;
	align-items: center;
}

video {
	display: block;
	margin: 30px auto; 
	max-width: 60%;
	height: auto;
}
footer {
	background-color: var(--color--secondary);
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
	text-align: center;
	font-size: calc(var(--base-size)* 1.3);
}
.title {
	font-size: calc(var(--base-size)* 1.5);
	margin-top: 10px;
	margin-left: 10px;
}
.description {
	margin-left: 10px;
	margin-top: 10px;
	font-size: calc(var(--base-size)* 1.1);
	width: auto;
	margin: 30px auto; 
}
#main-content {
	/* The block size tag below is a life changer */
	block-size: 75vh;
}

@media (min-width:1100px) {
	:root {
		--base-size: 20px; 
		--gutter-size: calc(3 * var(--base-size));
	}
	
}